[Unit]
Description=Discord Bookmark-bot for computer buddies
Documentation=

Wants=network.target
After=network.target

[Service]
User=discordbot
Group=discordbot
KillMode=none
SuccessExitStatus=0 1

PrivateDevices=true
NoNewPrivileges=true
PrivateTmp=true

WorkingDirectory=/opt/coggie-bot
ExecStart=/usr/bin/nix run --refresh coggiebot

[Install]
WantedBy=multi-user.target
