[Unit]
Description=automatically run self update checks on coggiebotd

[Timer]
OnBootSec=15min
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
