[Unit]
Description=Automatically update coggiebotd.
Wants=bookmark-bot-update.timer

[Service]
Type=oneshot
ExecStart=/opt/coggiebot/update

[Install]
WantedBy=multi-user.target
