name: Automated-Update

on:
  push:
    branches: [ "master" "better-workflow" ]
  schedule:
    - cron: '0 0 * * 0' # runs weekly on Sunday at 00:00
 
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      uses: DeterminateSystems/nix-installer-action@main
    
    - name: Checkout repository
      uses: actions/checkout@v3
      run: cargo update --verbose

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@main

    - name: Update flake.lock
      uses: DeterminateSystems/update-flake-lock@main
      with:
        pr-title: "Update flake.lock" # Title of PR to be created
        pr-labels: |                  # Labels to be set on the PR
          dependencies
          automated
